{:agent-name "INSERT_AGENT_NAME"
 :license-key "INSERT_NEW_RELIC_LICENSE_KEY"
 :url "INSERT_RABBITMQ_MANAGEMENT_URL"
 :user "INSERT_RABBITMQ_MANAGEMENT_USER"
 :pass "INSERT_RABBIT_MQ_MANAGEMENT_PASS"
 :debug false}
